{
  "presets": [
    [
      "@babel/preset-env",
      {
        "exclude": ["@babel/plugin-transform-regenerator"]
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-transform-react-jsx-source", "module:fast-async"]
}
